h1{
    color: rgb(167, 167, 239);
}

#principal{
    color: rgb(97, 162, 227);
    font-size: 100px;
    text-align: center;

}
body{
    background-color: rgb(42, 73, 141);
    cursor: pointer;
}

#foto-simbolo{
    width: 90px;
    height: 130px;
    margin: 0 10px;
    display: block;
    margin: 0 auto;
}

#Entrar{
    background-color: rgb(42, 73, 141);;
    position: absolute;
    top: 20px;
    width: 70px;
    height: 35px;
    margin: 0 10px;
    right: 20px;
    border-radius: 5px;
    color: rgb(240, 245, 249);
    
}

#sobre{
    background-color: rgb(42, 73, 141);;
    position: absolute;
    top: 20px;
    width: 77px;
    height: 35px;
    margin: 0 10px;
    right: 110px;
    border-radius: 5px;
    color: rgb(240, 245, 249);
}





