input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}


.bola, .animal, .alfabeto, .comida{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

#cor{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

#comida{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px; 
}

#ROUPAS{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px; 
}

#formas{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

#rotinas, #animal, #alfabetos, #comidas{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

#objetos, #animais, #cores, #rotina, #alfabeto, #comida, #roupas, #forma, #emoçoes, #numero{
    font-size: 30px;
    width: 160px;
    height: 80px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px; 
    background-color: white;
    border: none; 
}


#alfabeto{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

#emoções{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

#numeros{
    width: 250px;
    height: 200px;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    margin-bottom: 80px;
    margin: 0 10px;
}

.container {
    text-align: center; 
    margin: 0 20px;
    cursor: pointer;
    margin-bottom: 50px;
}